extends ./layout/index

block contenido
    
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="" class="img-fluid")
            .col-md-7 
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a mattis arcu. Ut vel ex in augue vestibulum euismod id vel metus. Sed ac nibh in risus sollicitudin lobortis. Quisque non felis rutrum arcu tincidunt dictum.

                p Nullam eget eros et est viverra efficitur. Donec nec cursus urna. Fusce imperdiet et massa nec laoreet. Sed molestie condimentum libero eu consequat. Maecenas nec tellus commodo, porta turpis sed, molestie erat. 

                p Mauris vitae tortor mattis quam varius rhoncus. Donec vitae nunc tellus. Aenean massa nulla, pharetra vel iaculis sit amet, consectetur in urna. Duis odio eros, consectetur vel faucibus non, venenatis et nibh.



    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="logo de seguridad" class="img-fluid mb-4")        
                    h2.mb-4 Seguridad 
                    p Mauris vitae tortor mattis quam varius rhoncus. Donec vitae nunc tellus. Aenean massa nulla,
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="logo de seguridad" class="img-fluid mb-4")        
                    h2.mb-4 Destinos
                    p Mauris vitae tortor mattis quam varius rhoncus. Donec vitae nunc tellus. Aenean massa nulla,
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="logo de seguridad" class="img-fluid mb-4")        
                    h2.mb-4 Precios 
                    p Mauris vitae tortor mattis quam varius rhoncus. Donec vitae nunc tellus. Aenean massa nulla,        